{% extends "base.html" %}

{% block title %}Welcome to PropSol{% endblock %}

{% block content %}
<h2>Welcome to PropSol!</h2>
<p>Hi {{ name }},</p>
<p>Thank you for joining PropSol. We are excited to have you on board.</p>
<p>You can now access your dashboard and start exploring our features to get your prop firm account passed within 30
    days.</p>
<a href="https://propsol-frontend.vercel.app/dashboard" class="button">Go to Dashboard</a>
<p style="margin-top: 30px;">If you have any questions, feel free to reply to this email or contact our support team.
</p>
<p>Best regards,<br>The PropSol Team</p>
{% endblock %}
